*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizard.settings.xml
.DS_Store
/build
**/build/
/build-logic/**/bin/
/captures
.externalNativeBuild
.cxx
local.properties
keystore/*.jks
keystore/*.keystore
